.searchPage {
  height: auto;
  overflow: scroll;
  background-color: #4f008c;
}

.searchPage__logo {
  font-size: 80px;
  color: #fff;
  font-weight: bold;
}

.searchPage__header {
  display: flex;
  position: sticky;
  /* justify-content: space-between; */
  align-items: center;
  top: 0;
  background-color: #ff375e;
  z-index: 1;
  align-items: center;
  width: 100%;
}

.searchPage__logo {
  display: flex;
  flex: 0.3;
  margin-left: 40px;
}

.searchPage__headerBody {
  display: flex;
  flex: 0.6;
}

.searchPage__header > .searchPage__avatar {
  width: 60px;
  height: 60px;
}

.searchPage__result {
  margin: 40px 0;
}

.searchPage__results {
  background-color: #4f008c;
  max-width: 850px;
  margin-top: 20px;
  margin-left: 140px;
  margin-bottom: 100px;
}

.searchPage__resultCount {
  color: #1bcfd8;
}

.searchPage__resultTitle {
  text-decoration: none;
  color: #1bcfd8;
}

.searchPage__resultTitle:hover {
  text-decoration: underline;
}

.searchPage__resultSnippet {
  margin-top: 10px;
  color: white;
}
